In [349]:
import pandas as pd 
import numpy as np
from sklearn import preprocessing
from numpy.linalg import inv
from sklearn.linear_model import LinearRegression
data=pd.read_excel("Questionnaire _data.xlsx",header=None)

In [350]:
data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,123,124,125,126,127,128,129,130,131,132
0,S.No,Age,Occupation,Married,No. Children,Q.1.1,Q.1.2,Q.1.3,Q.1.4,Q.1.5,...,Q.30.3,WEIGHT(kg),HEIGHT(cm),BMI,V.FAT,B.P,B.P,TUMMY(cm),HIPS(cm),waist(cm)

In [351]:
X=data[[125,126,127,128,129,130,131,132]].iloc[:][1:]
y=data[124].iloc[:][1:]
X.reset_index(inplace = True, drop = True) 
y.reset_index(inplace = True, drop = True) 
X.columns=[0,1,2,3,4,5,6,7]
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) 
x_train.reset_index(inplace = True, drop = True) 
x_test.reset_index(inplace = True, drop = True) 
y_train.reset_index(inplace = True, drop = True) 
y_test.reset_index(inplace = True, drop = True) 
n=x_train[0].count()

In [352]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train, y_train)

In [353]:
a=reg.coef_
a

array([ 0.87824202,  1.64800108,  0.43272804, -0.02195674,  0.01642797,
        0.07700348,  0.04265849,  0.01940389])

In [354]:
b=reg.intercept_

In [355]:
W=np.array([b,a[0],a[1],a[2],a[3],a[4],a[5],a[6],a[7]])

In [356]:
w0=W[0]
w1=W[1]
w2=W[2]
w3=W[3]
w4=W[4]
w5=W[5]
w6=W[6]
w7=W[7]
w8=W[8]

In [357]:
W=pd.DataFrame(W)
W.to_csv('Results.csv', mode='a', index = False, header=None)

In [358]:
y_pred=w0+x_test[0]*w1+x_test[1]*w2+x_test[2]*w3+x_test[3]*w4+x_test[4]*w5+x_test[5]*w6+x_test[6]*w7+x_test[7]*w8

In [359]:
ybar=y_test.mean()
ybar

68.57301587301586

In [360]:
n=y_test.count()
p=8
for i in range(0,n):
    y_pred[i]=round(y_pred[i],1)

In [361]:
SSR=0
SST=0
SSE=0
for i in range (0,n):
    SST=SST+(y_test[i]-ybar)*(y_test[i]-ybar)
    SSR=SSR+(y_pred[i]-ybar)*(y_pred[i]-ybar)
    SSE=SSE+(y_test[i]-y_pred[i])*(y_test[i]-y_pred[i])

In [362]:
RR=SSR/SST

In [363]:
RR

0.9777976840194104

In [364]:
Adjusted_RR=1-((1-RR)*(n-1))/(n-p-1)

In [365]:
Adjusted_RR

0.974508452022286

In [377]:
MSR=SSR/p
MSR

718.0682341269844

In [378]:
MSE=SSE/(n-p-1)
MSE

1.6012962962962944

In [379]:
F=MSR/MSE

In [381]:
F

448.4293355251209

In [370]:
SSR

5744.545873015875

In [371]:
SST

5874.984126984125

In [372]:
SSE

86.4699999999999

In [343]:
y_pred.head()

0    70.1
1    54.8
2    72.9
3      78
4    64.3
dtype: object

In [344]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

1.372539682539681

In [384]:
s=np.sqrt(MSE)

In [399]:
s

1.2654233664257566

In [400]:
xw1bar=x_train[0].mean()
xw2bar=x_train[1].mean()
xw3bar=x_train[2].mean()
xw4bar=x_train[3].mean()
xw5bar=x_train[4].mean()
xw6bar=x_train[5].mean()
xw7bar=x_train[6].mean()
xw8bar=x_train[7].mean()

In [401]:
sumx1=0
sumx2=0
sumx3=0
sumx4=0
sumx5=0
sumx6=0
sumx7=0
sumx8=0

In [402]:
x_test[0][0]

157

In [403]:
for i in range(0,n):
    sumx1=sumx1+(x_test[0][i]-xw1bar)*(x_test[0][i]-xw1bar)
    sumx2=sumx2+(x_test[1][i]-xw2bar)*(x_test[1][i]-xw2bar)
    sumx3=sumx3+(x_test[2][i]-xw3bar)*(x_test[2][i]-xw3bar)
    sumx4=sumx4+(x_test[3][i]-xw4bar)*(x_test[3][i]-xw4bar)
    sumx5=sumx5+(x_test[4][i]-xw5bar)*(x_test[4][i]-xw5bar)
    sumx6=sumx6+(x_test[5][i]-xw6bar)*(x_test[5][i]-xw6bar)
    sumx7=sumx7+(x_test[6][i]-xw7bar)*(x_test[6][i]-xw7bar)
    sumx8=sumx8+(x_test[7][i]-xw8bar)*(x_test[7][i]-xw8bar)

In [406]:
sw1=s/np.sqrt(sumx1)
sw1

In [410]:
t=w1/sw1
t

24.70605994109589

24.70605994109589